extends layout

block content
  h1= title
  p Welcome to #{title}
  
  .panel-group
    .panel.panel-default
      .panel-heading Genesis Organic Farm
      .panel-body Our Pluot and Plum season typically runs from mid July through mid August or until sold out. We are certified organic for some crops. We grow certified organic pluots and plums for PYO. What in the world is a Pluot you ask? Pluots are a delicious cross between a plum and an apricot. There are many varieties of pluots. We grow Dapple Fire pluots with brilliant red flesh and smooth, sweet skin. The flesh is firmer than a plum and juicer than an apricot. And oh! the flavor! Sweet like caramel. You'll be addicted with the first bite. Free samples to eat while you pick.
    .panel.panel-default
      .panel-heading Rancho Notso Grande
      .panel-body Our crops are usually available in May, June, July, August. Open: We have a refrigerated, pre-picked fruit stand that is open from 7 AM to 7 PM for seven days a week during the harvest season. During the season we are open for you pick and roadside sales from 7 AM to 7 PM Tuesday through Saturday and all other times by appointment.  We use natural practices, but are not yet certified Organic.
    .panel.panel-default
      .panel-heading Re Rustica
      .panel-body Crops are usually available in All year. Payment: Cash, Check. We grow everything with NO pesticide, NO herbicide, NO fertilizer, NO antibiotics, NO hormones. Our animals are raised kindly with nearly unlimited pasture. Free home delivery also available near Fresno/Clovis and near San Jose! Low delivery rates for other areas. We also work with other local farms, so if we don't have it we can help you find it (or grow it special for you!).
