extends layout

block content 
 
  .jumbotron
    .container
      p What we want to offer the people in our community is the chance to go out whenever they want, and pick the freshest fruits and vegetables that they desire to eat. Not many stores have the freshest of fruits or vegetables that people want. We offer you the chance to go and pick the right amount that you want for any occassion or to simply eat the same day. 

  #cycler
    img.active(src='images/backstretch2.jpg', alt='My image')
    img(src='images/backstretch3.jpg', alt='My image')
  script.
    function cycleImages(){
      var $active = $('#cycler .active');
      var $next = ($active.next().length > 0) ? $active.next() : $('#cycler img:first');
      $next.css('z-index',2);//move the next image up the pile
      $active.fadeOut(1500,function(){//fade out the top image
      $active.css('z-index',1).show().removeClass('active');//reset the z-index and unhide the image
      $next.css('z-index',3).addClass('active');//make the next image the top one
      });
    }
    $(document).ready(function(){
    // run every 7s
    setInterval('cycleImages()', 7000);
    })


      
