extends layout

block content  
  nav.navbar.navbar-default.navbar-fixed-top
    ul#list.nav.navbar-nav.pull-right.navbar-default.navlink
      li
        a.navLink(href='/') Home
      li
        a.navLink(href='/get-data') Get Data
      li
        a.navLink(href='/data') Data
      li
        a.navLink(href='/delete') Delete
      li
        a.navLink(href='/update') Update
        
          
