extends layout

block content
  h1= title
  
  .row
    .col-md-6
      .panel-group
        .panel.panel-default
          .panel-heading What we grow
          .panel-body Uses natural growing practices:
            ul.list-group
              li.list-group-item apricots
              li.list-group-item blackberries
              li.list-group-item blueberries
              li.list-group-item boysenberries
              li.list-group-item flowers
              li.list-group-item nectarines
              li.list-group-item olallieberries
              li.list-group-item peaches
              li.list-group-item pecans
              li.list-group-item raspberries
              li.list-group-item tayberries
              li.list-group-item walnuts
    .col-md-6  
      iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3211.3532460687443!2d-119.67388868472133!3d36.4006478800327!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8094e9dd98bd73d1%3A0xc8a4ec32af80f27d!2sRancho+Notso+Grande!5e0!3m2!1sen!2sus!4v1481814570119', width='600', height='450', frameborder='0', style='border:0', allowfullscreen='')
