extends layout

block content
  h1= title
  
  .row
    .col-md-6
      .panel-group
        .panel.panel-default
          .panel-heading What we grow
          .panel-body And have to offer:
            ul.list-group
              li.list-group-item apples
              li.list-group-item asparagus
              li.list-group-item beans
              li.list-group-item beets
              li.list-group-item broad beans
              li.list-group-item broccoli
              li.list-group-item carrots
              li.list-group-item corn (sweet)
              li.list-group-item cucumbers
              li.list-group-item eggplant
              li.list-group-item grapes
              li.list-group-item melons
              li.list-group-item onions
              li.list-group-item peas
              li.list-group-item peppers
              li.list-group-item pumpkins
              li.list-group-item summer squash
              li.list-group-item winter squash
              li.list-group-item strawberries
              li.list-group-item tomatoes
              li.list-group-item Honey from hives on the farm
    .col-md-6  
      iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3199.015822371677!2d-119.1104533850805!3d36.69815767996964!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8095127130b552d3%3A0x8b32ea3b8acab1d5!2sRe+Rustica!5e0!3m2!1sen!2sus!4v1481843816173', width='600', height='450', frameborder='0', style='border:0', allowfullscreen='')
