body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a.navlink
{
  color: #70B2F4 !important;
}

body
{
  background-color: #D5D4B5;
}

.navbar, .nav
{
  background-color: #5E6D2D;
  color: #70B2F4 !important;
}
