body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a.navlink
{
  color: #70B2F4 !important;
}

body
{
  background-color: #D5D4B5;
}

.navbar, .nav
{
  background-color: #5E6D2D;
  color: #70B2F4 !important;
}

#cycler
{
  position:relative;
}
#cycler img
{
  position:absolute;
  z-index:1;
  left:20%;
}
#cycler img.active
{
  z-index:3;
}
.jumbotron
{
  background-position: center;
  height: 15em;
}
nav p
{
  text-align: center;
  font-size: 60px;
}
